.counter{
    margin-top: 200px;
}

.game {
    width: 800px;
    height: 200px;
    border-bottom: 1px solid #000;
    margin: auto;
}

.dino {
    width: 50px;
    height: 50px;
    background-color: rgb(80, 80, 80);
    position: relative;
    top: 150px;
}

.cactus{
    width: 20px;
    height: 40px;
    background-color: rgb(36, 36, 36);
    position: relative;
    top: 110px;
    left: 780px;
    animation: cactusMov 2s infinite linear;
}

.jump{
    animation: jump .5s linear;
}

@keyframes cactusMov {
    0%{
        left: 880px;
    }
    100%{
        left: -20px;
    }
}

@keyframes jump {
    0%{
        top: 150px;
    }
    50%{
        top: 60px;
    }
}
